.auth-title {
  position: relative;

  color: black;
  text-decoration: none;
  border: 1px solid #00a4b7;
  padding: 10px 7px;
  margin-top: 10px;
}
.auth-div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.report-img {
  width: 100px;
  margin-left: 50%;
}
.highlighted {
  color: #00a4b7;
  font-weight: bold;
}

.main-title {
  border: 1px solid #00a4b7;
  padding: 10px;
}
.report-msg {
  background-color: rgb(196, 247, 221);
  text-decoration: none;
  color: red;
  font-size: 23px;
}
