.card-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.card {
  margin: 25px;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  background-color: #00a4b7;
  border-radius: 10px;
  padding: 0 12px;
}
.item {
  background: white;
}
.redText {
  color: red;
  font-weight: bold;
}
.span {
  color: #00a4b7;
  font-weight: bold;
}
.btn-container {
  display: flex;
  margin-bottom: 5px;
}
.change-btn {
  padding: 10px 7px;
  background-color: none;
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  font-size: 90%;
  font-weight: bold;
}
.detail-btn {
  padding: 10px 7px;
}
.danger-btn {
  background: red;
  padding: 10px 7px;
  text-align: center;
}
.text {
  min-width: 100%;
  margin: 0;
  padding: 0;
}
